@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&family=Maven+Pro&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Space+Mono&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-color: #1D1D1F;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.timerbox {
    width: 30vw;
    height: 20vw;
    margin-right: 6vw;
    margin-left: 6vw;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25282b;
    color: white;
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 5rem;
}

.mini-text {
    font-size: 2rem;
    font-style: italic;
}

.timerbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 6rem;
}

.options-container {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #25282b;
    border-radius: 20px;
    margin-left: 10vw;
}

#switch {
    margin-top: 6rem;
    width: 10vw;
    height: 7vh;
    border-radius: 5rem;
    background-color: #25282b;
    border-color: black;
    border-width: 1px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5rem;
    transition: border-color 1s, box-shadow 1s;
    color: white;
}

.selected-timer {
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

#switch:hover {
    animation: switch-animation 0.25s forwards;
}

@keyframes switch-animation {
    100% {
        outline: none;
        border-color: white;
        box-shadow: 0 0 5px rgb(255, 255, 255);
    }
}

/*----------Options Stuff-------*/
.option {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    color: #aeaeb0;
}

.option input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #222324;
    border-radius: 5px;
    width: 3rem;
    background-color: #343b42;
    color: black;
}

.option input:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

/*----------Navbar Stuff-------*/
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: gray 1px solid;
    background-color: #1D1D1F;
    overflow: hidden;
}

nav h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #fdf7f1;
    justify-content: left;
    margin-left: 2rem;
}

.nav-links {
    font-size: 2rem;
    margin-right: 2rem;
}

/*------Sound----------*/

#sound-title {
    color: #aeaeb0;
}

.sound-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sound-options p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    color: black;
}

.sound {
    --secondary-container: #3a4b39;
    --primary: #7dda82;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
}

.sound input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
}

input:checked+.slider::before {
    background-color: var(--primary);
}

input:checked+.slider {
    background-color: var(--secondary-container);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-container);
}

input:checked+.slider:before {
    transform: translateX(1.9em);
}









/*------ Settings ------*/
.container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.container .play {
    position: absolute;
    animation: keyframes-fill .5s;
}

.container .pause {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container input:checked~.play {
    display: none;
}

.container input:checked~.pause {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: rotate(-180deg) scale(0);
        opacity: 0;
    }

    50% {
        transform: rotate(-10deg) scale(1.2);
    }
}

/* ------ Background Blob ------ */
@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.25;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, skyblue, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.4;
    z-index: -10;
}

#blur {
    height: 100vh;
    width: 100vw;
    position: absolute;
    backdrop-filter: blur(12vmax);
    z-index: -5;
}

/*------ Social Media Icons ------*/
.card {
    width: fit-content;
    height: fit-content;
    background-color: #1D1D1F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: black;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}